* {
  background-color: #121212;
  color: #e2e2e2;
}

h1 {
  font-size: 100px;
  font-weight: bold;
}

a {
  font-size: 50px;
  text-decoration: none;
  font-weight: bold;
  line-height: 1.5;
}

a:hover {
  color: #990000;
}

a:visited {
  color: #e2e2e2;
}
